[network]
port=30000
interface=wlan0

[profile]
username=someusername
email=some@email.co
displayname=Some One

[device]
deviceindex=1

; Storage is a optional configuration
[storage]
location=/tmp/lamess/
